body {
    margin: 60px auto;
    width: 70%;
}
#logo {
  height: 100px;
  vertical-align: middle;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 1;
    overflow: hidden;
    background-color: white;
}

li {
    display: inline
    float: left;
}

li a {
    display: block;
    color: #003A70;
    font-family:'Myriad Pro', 'Arial', 'Sans-Serif';
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to ##f2f2f2 (grey) on hover */
li a:hover {
    background-color: #f2f2f2;
}
nav ul, footer ul {
    font-family:'Myriad Pro', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Myriad Pro', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    font-family:'Myriad Pro', 'Arial', 'Sans-Serif';
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
