<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<div class="topnav" id="myTopnav">
				 <a href="http://www.marel.com"> <img id="logo" src="images/Marel-logo.jpg"Marel Logo"> </a>
 				 <a href="/docs">DOCS</a>
 				 <a href="/blog">BLOG</a>
				 <a href="/about">ABOUT</a><
			 </div>
			
				<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			
			<footer>
	    		<ul>
	        		<li><a href="mailto:eliane.pohl@marel@gmail.com">email</a></li>
	        		<li><a href="https://marel.com/">marel.com</a></li>
				</ul>
			</footer>
		</body>
	</html>
