<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <meta name="description" content="{{ site.title | default: site.github.repository_name }} : {{ site.description | default: site.github.project_tagline }}">

  {% seo %}
  </head>

  <body>
	  
<!-- link to stylesheets -->
<link rel="stylesheet" type="text/css" href="/css/w3.css">
<link rel="stylesheet" type="text/css" href="/css/w3-theme-marel.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: Myriad pro, sans-serif;}
</style>

 <body>

 /* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }
 
<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-theme w3-top w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-right w3-hide-large w3-hover-white w3-large w3-theme-l1" href="javascript:void(0)" onclick="w3_open()"><i class="fa fa-bars"></i></a>
    <a href="/index.html" class="w3-bar-item w3-button w3-hide-small w3-hover-#898E8C">Docs</a>
    <a href="/blog" class="w3-bar-item w3-button w3-hide-small w3-hover-#898E8C">Blog</a>
    <a href="/contact" class="w3-bar-item w3-button w3-hide-small w3-hover-#898E8C">Contact</a>
     <input type="text" class="w3-bar-item w3-input" placeholder="Search..">
  <a href="#" class="w3-bar-item w3-button w3-light-grey">Go</a>
    </div>
</div>
	 
<!-- Sidebar -->
<nav class="w3-sidebar w3-bar-block w3-collapse w3-large w3-theme-12 w3-animate-left" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-right w3-xlarge w3-padding-large w3-hover-black w3-hide-large" title="Close Menu">
    <i class="fa fa-remove"></i>
  </a>
  <h4 class="w3-bar-item"><b>Menu</b></h4>
  <a class="w3-bar-item w3-button w3-hover-w3-theme" href="#">Link</a>
  <a class="w3-bar-item w3-button w3-hover-w3-theme" href="#">Link</a>
  <a class="w3-bar-item w3-button w3-hover-w3-theme" href="#">Link</a>
  <a class="w3-bar-item w3-button w3-hover-w3-theme" href="#">Link</a>
</nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
<div class="w3-main" style="margin-left:250px">	 

<!-- MAIN CONTENT -->
    <div class="w3-container">
      <div class="w3-right-align"><p><a href="https://github.com/pohlvault/pohlvault.github.io/edit/master/{{ page.path }}"><img src="/images/edit.png"</a></p></div>
    </div>                          
    <div class="w3-row w3-padding-64"> </div>
      <div class="w3-twothird w3-container"> </div>	
      <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        {{ content }}
      </section>
    </div>

    <!-- FOOTER -->      
   <footer id="myFooter">
        <div class="w3-container w3-theme">
      <p><a href="https://www.marel.com" target="_blank">Marel.com</a></p>
    </div>
  </footer>

  </body>
</html>
